.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    ;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .col-sm-5.offset-sm-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%; /* Ensure buttons take full width on smaller screens */
        margin-top: 10px; /* Adjust top margin for spacing */
    }
}
